<section id="todos" class="<%= list_class(@list)%>">
  <header>
    <h2><%= @list[:name] %></h2>
    <ul>
      <li>
        <form action="/lists/<%= @index %>/todos/complete" method="post">
          <button class="check" type="submit">Complete All</button>
        </form>
      </li>
      <li><a class="edit" href="/lists/<%= @index %>/edit">Edit List</a></li>
    </ul>
  </header>

  <ul class="todos">
    <% reorder_todos(@list[:todos]) do |todo, index| %>
      <% if todo[:completed] %>
        <li class="complete">
      <% else %>
        <li>
      <% end %>
        <form action="/lists/<%= @index %>/todos/<%= index %>" method="post" class="check">
          <input type="hidden" name="completed" value="<%= !todo[:completed] %>" />
          <button type="submit">Complete</button>
        </form>
        <h3><%= todo[:name] %><h3>
        <form action="/lists/<%= @index %>/todos/<%= index %>/delete" method="post" class="delete">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% end %>
  </ul>
</section>

<form action="/lists/<%= @index %>/todos" method="post">
  <dl>
    <dt>
      <label for="todo">Something else to do?</label>
    </dt>
    <dd>
      <input name="todo" placeholder="Add a New Todo" type="text">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add to list">
  </fieldset>
</form>



<% content_for :header_links do %>
  <a class="list" href="/lists">All Lists</a>
<% end %>
